<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/home.css">

    <title>Nuestros Productos</title>

</head>

<body>
    <header>
        <div class="header-top">
          <img src="/design/Logo.jpg" alt="logo" class="logo">
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            <ul>
             <li><a href="#"><i class="fas fa-glasses"></i></a></li>
             <li><a href="#"><i class="far fa-user"></i></a></li>
             <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
         </ul>
        </nav>
    </header> 
    <main>
        <section class="Producto">
            <article class="ProductIMG">
                <div class="imgsup">
                    <img src="/img/levelGod.jpg" alt="anteojopapu.jpg">
                </div>
                <div class="perspectivas">

                </div>
            </article>
            <article class="ProductDetail">
                <h3>Anteojos Level God</h3>

            </article>
        </section>
        <section class="OtrosProd">

        </section>



        
    </main>
    <footer>
        <div class="contenedorfooter">
         <h3>Seguinos en nuestras redes</h3>
         <ul class="redes">
             <li><a href="#"><i class="fab fa-twitter"></i></a></li>
             <li><a href="#"><i class="fab fa-instagram"></i></i></a></li>
             <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
             </ul>
             <h3>Modo de pagos - Envios </h3>
             <ul class="formasdepago">
                 <li><a href="#"><i class="far fa-credit-card"></i></a></li>
                 <li><a href="#"><i class="fas fa-truck"></i></a></li>
             </ul>    
        </div>
    </footer>
</body>

</html>