<!DOCTYPE html>
<html lang="en">
    
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productCart.css">

    <title>Carro de Compras</title>

</head>

<body>
    
    <ul class="posnav">
        <li class="disnav"><a href="#home">Home</a></li>
        <li class="disnav"><a href="#Nosotros">Nosotros</a></li>
        <li class="disnav"><a href="#Productos">Productos</a></li>
        <li class="disnav"><a href="#Contacto">Contacto</a></li>
      </ul>

</body>

</html>