@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    /*margin: 0px;*/
    padding: 0px;
}

.cuerpo {
    font-family: 'Open Sans', sans-serif;
    color: black;   
    background-color: white; 
    
}
.container {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.box:after {
  content: "";
  display: table;
  clear: both;
}

h4 {
   font-size: 18PX;
   font-weight: bold;
   margin:0;
   padding: 10px;
   color: white;
   border: solid 1px #003ef2;
   border-radius: 3px;
   background-color: #003ef2; 
 }

.parrafo {
  color: black;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
}

.color {
  color: #003ef2;
  font-weight: bold;
  
}
.image{
    width: 100%;
    height: auto;
    align-content: center;
  }



  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }  