@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    /*margin: 0px;*/
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: black;
    max-width: 100%;
}

/* ==================== slider ======================= */

.b-slider{     
    text-align: center;  
    margin: 25px auto
  }
  .b-slider__inner{
    position: relative; 
  }
  [id^=b-slider__switch-]{
    display: none;
  }
  [id^=b-slider__switch-] ~ label{  
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: #40E0D0;
    border: 2px solid #40E0D0;
    cursor: pointer;
    margin: -20px 5px 0;  
    position: relative;
    z-index: 99;
    border-radius: 50%;
  }
  [id^=b-slider__switch-] + label{
    display: none;
  }
  #b-slider__switch-1:checked ~ label[for=b-slider__switch-1],
  #b-slider__switch-2:checked ~ label[for=b-slider__switch-2],
  #b-slider__switch-3:checked ~ label[for=b-slider__switch-3]{
    background: #6A5ACD;
    cursor: text;  
  }
  
  .b-slider__items{
    overflow: hidden;
    position: relative;
    height: 0;
    margin-bottom: -20px;    
    padding-bottom: 30%;
  }
  [class*=b-slider__item-]{
    opacity: 0;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
  }
  [class*=b-slider__item-],
  [class*=b-slider__item-] > img{
    position: absolute; top: 0; left: 0;
    width: 100%;
    
  }
  #b-slider__switch-1:checked ~ label ~ .b-slider__items .b-slider__item-1,
  #b-slider__switch-2:checked ~ label ~ .b-slider__items .b-slider__item-2,
  #b-slider__switch-3:checked ~ label ~ .b-slider__items .b-slider__item-3{
    z-index: 1;
    opacity: 1;
  }
/* ---------- FIN SLIDER ---------- */
/* ---------- SECCION DE PRODUCTOS ---------- */
section {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 95%;
    background-color: white;
}

section article div img {
    display: block;
	  width: 100%;
    padding: 5px;
}
section article div img:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}
     
.textoProducto {
  font-size: 20px;
}


/* ---------- FIN SECCION DE PRODUCTOS ---------- */

/* =========== media tablet ================== */

@media (min-width: 769px) {
.nav-bar ul li:hover {
  color: #40E0D0;
} 
.producto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;          
}
.producto article {
  justify-content: center;
  box-sizing: border-box;
  width: 49%;
  height: auto;
}
.imgproducto {
  vertical-align: middle;
}
.textoProducto {
  color: #003ef2;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

}

/* ========== Desktop ========================== */
@media only screen and (min-width: 992px) {
  .producto section article {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .imgproducto {
    width: 90%;
  }
}