@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    /*margin: 0px;*/
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: black;
    max-width: 100%;
}

header{
    display: flex;
    background-color: rgb(201, 201, 201);    
    justify-content: space-between;
    
}

.header-top img{
    padding: 20px;
    width: 50%;
    align-content: center;
}
.logo {
  display: block;
  position: absolute;
  top: 50px;
  right: 250px;
}
.nav-bar{
    display: none;
    
}
.nav-bar ul {
    display: none;
    list-style: none;

}
.nav-bar ul li a{
    display: flex;
    justify-content: space-around;
    padding: 8px;
    text-align: right;
    text-decoration: none;
    color: #003ef2;
    font-size: 14px;
}
.menu-ellipsis-v{
  color: #003ef2;
  position: absolute;
  right: 50px;
  top: 15px;
  
}
/* ==================== slider ======================= */

.b-slider{     
    text-align: center;  
    margin: 25px auto
  }
  .b-slider__inner{
    position: relative; 
  }
  [id^=b-slider__switch-]{
    display: none;
  }
  [id^=b-slider__switch-] ~ label{  
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: #40E0D0;
    border: 2px solid #40E0D0;
    cursor: pointer;
    margin: -20px 5px 0;  
    position: relative;
    z-index: 99;
    border-radius: 50%;
  }
  [id^=b-slider__switch-] + label{
    display: none;
  }
  #b-slider__switch-1:checked ~ label[for=b-slider__switch-1],
  #b-slider__switch-2:checked ~ label[for=b-slider__switch-2],
  #b-slider__switch-3:checked ~ label[for=b-slider__switch-3]{
    background: #6A5ACD;
    cursor: text;  
  }
  
  .b-slider__items{
    overflow: hidden;
    position: relative;
    height: 0;
    margin-bottom: -20px;    
    padding-bottom: 30%;
  }
  [class*=b-slider__item-]{
    opacity: 0;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
  }
  [class*=b-slider__item-],
  [class*=b-slider__item-] > img{
    position: absolute; top: 0; left: 0;
    width: 100%;
    
  }
  #b-slider__switch-1:checked ~ label ~ .b-slider__items .b-slider__item-1,
  #b-slider__switch-2:checked ~ label ~ .b-slider__items .b-slider__item-2,
  #b-slider__switch-3:checked ~ label ~ .b-slider__items .b-slider__item-3{
    z-index: 1;
    opacity: 1;
  }
/* ---------- FIN SLIDER ---------- */
/* ---------- SECCION DE PRODUCTOS ---------- */
section {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
}

section article div img {
    display: block;
	  width: 100%;
    padding: 10px;
}
section article div img:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}
     
h2 {
    font-family: 'Open Sans';
    color: #003ef2;
    font-weight: bold;
}
p {
    color: #222;
    font-size: 14px;
}
.descripcionAnteojos {
    display: flex;
    flex-direction: column;
}

/* ---------- FIN SECCION DE PRODUCTOS ---------- */
/* ==================== footer ======================= */
.contenedorfooter{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px;

}
.redes{
    display: flex;
    justify-content: space-between;
    width: 10%;
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 10px;
  }

.formasdepago{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 10%;
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 10px;
}
footer i{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
    list-style: none;
    text-decoration: none;
    padding-left: 15px;
}

/* =========== media tablet ================== */

@media (min-width: 769px) {
  .menu-ellipsis-v{
    color: #003ef2;
    display: none;    
  }
  .logo {
    display: none;
  }  
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  
}
.nav-bar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
     
}
.nav-bar ul li a{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  text-align: right;
  text-decoration: none;
  color: #003ef2;
  font-size: 24px;
}
}