@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*---------------- REGLA GENERAL ----------------*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open sans';
}

/*---------------- ESTILOS PARA LAS ETIQUETAS ----------------*/
header {
    text-align: center;
    background: linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%); 
    max-width: 100%;
    padding-bottom: 10px;
}
main, body {
    background-color: rgb(201, 201, 201); 
    background-image: linear-gradient(to bottom,rgb(201, 201, 201),rgb(201, 201, 201));
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h2 {
    text-align: center;
    padding: 10px 10px;
    display: none;
    color: #003ef2;
    font-size: 16px;
}
h3 {
    font-size: 16px;
}
h4 {
    text-align: center;
    font-size: 14px;
}
h5 {
    text-align: center;
    padding: 10px 10px;
}
a {
    color: #003ef2;
}
select {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
fieldset label {
    font-size: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

/*---------------- ARMANDO CLASES CON ESTILOS PARA FORMULARIOS ----------------*/
.register-form {
    padding: 20px 15px;
    margin-bottom: 30px; 
    margin: auto;
    max-width: 100%;
    text-align: center;
    border: none;
}
.register-field {
    border: none;
    padding: 20px 15px;
    display:block;
    margin: auto;
    max-width: 80%;
    text-align: center;
}
.register-field input {
    font-size: 12px;
    border: none;
    border-radius: 4px;
    border: 1px solid black;
    width: 100%;
    height: 40px;
    transition: all 1000ms;
}
.register-field-check {
    border: none;
    padding: 10px 10px;
    display:flex;
    flex-direction: column;  
    margin-bottom: 15px;
    text-align: center;
}
.register-field button {
    background-color: #003ef2;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 40px;
}
.register-field input:hover {
    height: 60px;
    background-color: blue;
}

/*---------------- DAMOS ESTILOS Al HEADER ----------------*/
.logo {
    width: 140px;
    height: 182px;
    padding: 10px;
}

/*---------------- DAMOS ESTILO AL FORMULARIO DE BUSQUEDA----------------*/

/*---------------- INCLUIMOS BANNER Y SU ESTILO ----------------*/

/*---------------- ESTILOS AL FOOTER ----------------*/

.contenedorfooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px;
    width: 100%;
    height: auto;
}

.modos {
  display: flex;
  width: 100%;
}

.seguinos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.seguinos h3{
  display: flex;
  margin: 2px;
  width: 100%;
}

ul.redes{
  margin: 0px;
}

.redes{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 10px;
  }

.modos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}

.modos h3{
  margin: 0px;
  width: 100%;
}

.formasdepago{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 10px;
}
footer i{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
    list-style: none;
    text-decoration: none;
    padding-left: 15px;
}
footer {
    background: linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%);
}

/*---------------- GENERAMOS LAS MEDIAS QUERIES ----------------*/
@media (min-width: 361px){
    .register-field input {
        font-size: 14px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
}
@media (min-width: 769px){
    h2 {
        display: block
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 15px;
    }
    .logo {
        width: 250px;
        height: 325px;
    }
    .register-form {
        padding: 20px 15px;
        margin-bottom: 30px; 
        max-width: 50%;
        text-align: center;
        border: 4px solid #003ef2;
        border-radius: 4px;
    }
    
}
@media (min-width: 1200px){

}