@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    /*margin: 0px;*/
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: black;
    max-width: 100%;
}

.titulocarrito {
    display: flex;
    width: 90%;
    margin: 4px;
    font-size: 24px;
    font-weight: bold;
    color: blue;
    font-family: 'Open Sans', sans-serif;
}

.inventario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 5px;
    justify-content: space-around;
    border: 1px solid black;
}

.cart {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    height: auto;
    text-align: right;
    padding: 5px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 5px;

}

.cart a{
    padding: 7px;
}

.items {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 100px; */
}

.cartimg {
    width: 200px;
    /* height: 100px; */
    padding-top: 4px;
    padding-bottom: 4px;
}

.continfo {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.contimg {
    width: 20%;
}

.conticon {
    display: flex;
    align-items: center;
    color: blue;
    justify-content: center;
}

.iconflex {
    display: flex;
}

a {
    font-size: 15px;
    padding-left: 10px;
}



.btn-10:hover::after {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(2,126,251,1) 0%, rgba(0,3,255,1)100%);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.btn-10::after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    z-index: -1;
}

.btn-10:hover {
    color: #fff;
    border: none;
    background: transparent;
}
.btn-10 {
    background: rgb(22,9,240);
    background: linear-gradient(0deg, rgba(22,9,240,1) 0%, rgba(49,110,244,1) 100%);
    color: #fff;
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
    width: 70px;
    height: 30px;
}
.inputcar {
    border: 2px solid rgb(22,9,240);
    border-radius: 3px;
    color: blue;
    width: 70px;
    height: 30px;

}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 5px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

/* =========== media tablet ================== 

@media (min-width: 769px) {
    
  }*/