.posnav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
        
.disnav {
    display: inline;
}

.levelgod {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
    margin-bottom: 50px;
}

.producto {
    display: flex;
    flex-direction: row;
    margin: 3px;
    width: 100%;
}

.productIMG {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.imgsup {
    width: 70vw;
    height: auto;
}

.perspectivas {
    display: none;
}

h3 {
    font-size: 20px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.detalleproducto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modelprice {
    height: auto;
    width: 18vw;
    margin: 0px;
    padding: 0px;   
}

.monto {
    font-size: 18px;
}

main {
    padding: 10px;
    max-width: 100%;
    height: auto;
}

.btn-add-cart {
    width: 18vw;
    height: 40px;
    border-radius: 5px;
    background-color: #003ef2;
    border: none;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    margin-top: 10px;
    margin-right: 3px;
}

.cart input {
    margin-top: 3px;
    height: 36px;
    max-width: 18vw;
    font-size: 18px; 
}

.cart {
    display: inline-block; 
    text-align: left;
}

