main {
 padding: 10px;
 max-width: 100%;
 height: auto;
}

.varitems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 600px;
}

.levelgod {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

.quebracho {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

.nogal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

.marmolado {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

.scape {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

.distress {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

.vista {
    width: 300px;
    height: 300px;
}

h3 {
    display: flex;
}