main {
 padding: 10px;
 max-width: 100%;
 height: auto;
}

.varitems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
}

.levelgod {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
    margin-bottom: 50px;
}

.quebracho {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

.nogal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

.marmolado {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

.scape {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

.distress {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

.vista {
    width: 450px;
    height: 450px;
}

h6 {
    display: flex;
    font-size: 24px;
    position: relative;
    left: 135px;
    margin: 10px;
}