<footer>
     <div class="column">
      <div class="col">
        <p>Seguinos en nuestras redes</p>
         <a href="#"><i class="fab fa-instagram"></i></a>
         <a href="#"><i class="fab fa-whatsapp"></i></a>
         <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>  
    <div class="column">
      <div class="col">
        <p>Copyright © All rights reserved.</p>
        <p>Created by Team LookingGood: Fede, Nacho y Eli</p>   
      </div>
    </div>
    <div class="column">
      <div class="col">
        <p>Modo de pagos - Envios</p>
        <a href="#"><i class="far fa-credit-card"></i></a>
        <a href="#"><i class="fas fa-truck"></i></a>     
    </div>

</footer>