<footer>
    <div class="contenedorfooter">
       <div>
         <h3 class="textoH3">Seguinos en nuestras redes</h3>
         <ul class="redes">
           <li><a href="#"><i class="fab fa-twitter"></i></a></li>
           <li><a href="#"><i class="fab fa-instagram"></i></i></a></li>
           <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
         </ul>
     
       <h3 class="textoH3">Modo de pagos - Envios</h3>
       <ul class="formasdepago">
         <li><a href="#"><i class="far fa-credit-card"></i></a></li>
         <li><a href="#"><i class="fas fa-truck"></i></a></li>
       </ul>   
    </div>
</footer>