<header>
    <div class="header-top">
        <a href="/">
            <img src="/design/lookingblack.png" alt="logo" class="logotipo"/>
        </a>
    </div>
    <!--<div class="logo">
        <a href="/">
            <img class="logotipo" src="/design/lookingblack.png" alt="logotipo"/>
        </a>
    </div>-->
    <nav class="nav-bar">
        <ul>
            <li><a href="/aboutUs">Nosotros</a></li>
            <li><a href="/product">Productos</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
        <ul>
            <% if (user && user.admin == 1) { %> 
                <div class="dropdown">
                    <button class="dropbtn"><p>Hola! <%= locals.user.userName%> Tu eres admin</p></button>
                    <div class="dropdown-content">
                    <li><a href="/users">Usuarios</a></li>
                    <li><a href="/logout">Cerrar Sesión</a></li>
                    </div>
                </div>
             <% } else if (user) { %>                   
                <div class="dropdown">
                    <button class="dropbtn"><p>Bienvenido! <%= locals.user.userName%></p></button>
                    <div class="dropdown-content">
                    <li><a href="/users/userProfile/<%= locals.user.id%> ">Ver Perfil</a></li>
                    <li><a href="/logout">Cerrar Sesión</a></li>
                    </div>
                </div>
                    <li><a href="/login"><i class="fas fa-glasses"></i></a></li>
                    <li><a href="/register"><i class="far fa-user"></i></a></li>
                    
                    <!-- <li><a href="/product/cart/:id"><i class="fas fa-shopping-cart"></i></a></li>   -->
                    <li><a href="/cart/<%= locals.user.id%>"><i class="fas fa-shopping-cart"></i></a></li>  
            <% } else { %>  
                    <li><a href="/login"><i class="fas fa-glasses"></i></a></li>
                    <li><a href="/register"><i class="far fa-user"></i></a></li>
                    <!-- <li><a href="/product/cart/:id"><i class="fas fa-shopping-cart"></i></a></li>        -->
                    <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>       
            <% } %>
     </ul>
    </nav>
    <!-- menu ellipsis-->
    <div class="menu-ellipsis-v">
     <i class="fas fa-ellipsis-v"></i>
    </div>
</header>  