<header>
    <div class="header-top">
      <img src="/design/logo-solo.png" alt="logo"/>
    </div>
    <div class="logo">
        <img class="logotipo" src="/design/lookingblack.png" alt="logotipo"/>
    </div>
    <nav class="nav-bar">
        <ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <ul>
         <li><a href="./login"><i class="fas fa-glasses"></i></a></li>
         <li><a href="./register"><i class="far fa-user"></i></a></li>
         <li><a href="./login"><i class="fas fa-shopping-cart"></i></a></li>
     </ul>
    </nav>
    <!-- menu ellipsis-->
    <div class="menu-ellipsis-v">
     <i class="fas fa-ellipsis-v"></i>
    </div>
</header>  