<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('./includes/head') %>

<body>
      <!-- Header -->
      <%- include('./includes/header') %>

  <main>
    <div class="box">
      <div class="container">
        <h4>Quienes somos</h4>
        <p>Nos dedicamos a la fabricación y comercialización de anteojos y gafas hechas 100% con materiales reciclados…!!</p>
        <p>Somos pioneros en la industria al tener todo nuestro proceso productivo integrado.</p>

        <img src="/img/9.jpg" class="image" alt="imagenlentes"/>
        
      </div>
      <div class="container">
        <img src="/img/10.jpg" class="image" alt="imagenlentes"/>
        <br>
        <h4>Misión</h4>
        <p>Nuestra misión es satisfacer las necesidades de nuestros clientes con productos novedosos y con estilo pero sin descuidar la responsabilidad social, ambiental y económica de nuestro emprendimiento. </p> 
      </div>

      <div class="container">
        <h4>Pensamos en vos</h4>
        <p>Todos Nuestros productos están pensados y diseñados para nuestro público que busca descubrir su espíritu aventurero y sabiendo que se elabora respetando nuestro vínculo con la naturaleza y las comunidades que forman parte.</p>
        <img src="/img/1.jpg" class="image" alt="imagenlentes"/> <br>
        <h4>Colaboramos</h4>
        <p>Con la compra de cada uno de nuestros productos nos ayudas colaborar con las comunidades originarias de dónde obtenemos la materia prima.</p>
         
      </div>

    </div>  
  </main>

  <!-- Footer -->
  <%- include('./includes/footer')%>   
</body>
</html>