<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('./includes/head') %>

<body>
      <!-- Header -->
      <%- include('./includes/header') %>

  <main>
    
    <!-- agregando slider de 3 imagenes-->
    <section>
        <article>
            <h4>Nos dedicamos a la fabricación y comercialización de anteojos y gafas hechas 100% con materiales reciclados…!!</h4>
                <p>Somos pioneros en la industria al tener todo nuestro proceso productivo integrado.</p>
                <p>Nuestra misión es satisfacer las necesidades de nuestros clientes con productos novedosos y con estilo pero sin descuidar la responsabilidad social, ambiental y económica de nuestro emprendimiento.
                Todos Nuestros productos están pensados y diseñados para nuestro público que busca descubrir su espíritu aventurero y sabiendo que se elabora respetando nuestro vínculo con la naturaleza y las comunidades que forman parte.
                Con la compra de nuestros productos se ayuda a las comunidades originarias de dónde obtenemos la materia prima.</p>
        </article>
    </section>
  </main>

  <!-- Footer -->
  <%- include('./includes/footer')%>   
</body>
</html>