<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('./includes/head') %>

<body class="cuerpo">
      <!-- Header -->
      <%- include('./includes/header') %>

  <main class="cuerpo">
    <div class="box">
      <div class="container">
        <h4>Quienes somos</h4>
        <p class="parrafo">Nos dedicamos a la fabricación y comercialización de gafas hechas 100% con <span class="color">¡Materiales Reciclados!</span></p>
        <p class="parrafo">Somos pioneros en la industria al tener todo nuestro proceso productivo integrado.</p>
        <img src="/img/9.jpg" class="image" alt="imagenlentes"/>        
      </div>
      <div class="container">
        <img src="/img/10.jpg" class="image" alt="imagenlentes"/>
        <br>
        <h4>Misión</h4>
        <p class="parrafo">Nuestra misión es satisfacer las necesidades de nuestros clientes con productos <span class="color">novedosos</span> y con <span class="color">estilo</span> pero sin descuidar la responsabilidad social, <span>ambiental</span> y económica de nuestro emprendimiento. </p> 
        <h4>Colaboramos</h4>
        <p class="parrafo">Con la compra de cada uno de nuestros productos nos ayudas <span class="color">colaborar con las comunidades originarias</span> de dónde obtenemos la materia prima.</p>
         
      </div>

      <div class="container">
        <h4>Pensamos en vos</h4>
        <p class="parrafo">Todos Nuestros productos están pensados y diseñados para nuestro público que busca descubrir su <span class="color">espíritu aventurero</span>. 
          Sabiendo que se elabora respetando nuestro vínculo con la <span class="color">naturaleza</span> y las <span class="color">comunidades</span> que forman parte.</p>
        <img src="/img/5.jpg" class="image" alt="imagenlentes"/> 
      </div>

    </div>  
  </main>

  <!-- Footer -->
  <%- include('./includes/footer')%>   
</body>
</html>