<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <title>LookinGood</title>
</head>
<body>
   <header>
       <div class="header-top">
         <img src="/design/logofinal.png" alt="logo"/>
       </div>
       <div class="logo">
         <img src="/design/logotipo.png" alt="logotipo"/>
       </div>
       <nav class="nav-bar">
           <ul>
               <li><a href="#">Nosotros</a></li>
               <li><a href="./product">Productos</a></li>
               <li><a href="#">Contacto</a></li>
           </ul>
           <ul>
            <li><a href="./login"><i class="fas fa-glasses"></i></a></li>
            <li><a href="./register"><i class="far fa-user"></i></a></li>
            <li><a href="./productCart"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
       </nav>
       <!-- menu ellipsis-->
       <div class="menu-ellipsis-v">
        <i class="fas fa-ellipsis-v"></i>
       </div>
   </header> 
   <main>
    
    <!-- agregando slider de 3 imagenes-->
   
<div class="b-slider">
    <div class="b-slider__inner">
      <input type="radio" name="slide" id="b-slider__switch-1" checked>
      <label for="b-slider__switch-1"></label>
      
      <input type="radio" name="slide" id="b-slider__switch-2">
      <label for="b-slider__switch-2"></label>
      
      <input type="radio" name="slide" id="b-slider__switch-3">
      <label for="b-slider__switch-3"></label>
      
      <!-- imagenes del slider -->
      <div class="b-slider__items">
        <div class="b-slider__item-1">
          <img src="../img/slider1.jpg" alt="imagen slider"/>
        </div>
        <div class="b-slider__item-2">
          <img src="../img/slider2.jpg"alt="imagen slider"/>
        </div>
        <div class="b-slider__item-3">
          <img src="../img/slider3.jpg"alt="imagen slider"/>
        </div>
      </div>
      
      
      <!--botones del slider-->
      <label for="b-slider__switch-1"></label>
      <label for="b-slider__switch-2"></label>
      <label for="b-slider__switch-3"></label>
      <!-- slider dots end -->
    </div>
  </div>
  <!-- termina el slider -->
  <!-- vista de tres productos --> 
  
  <section>
      <article>
          <div>
            <img src="../img/p1.png" alt="modelo de anteojo uno"/>
          </div> 
          <div class="descripcionAnteojos">      
           <h2>Nombre de Anteojo 1</h2>
           <p>Descripcion</p>
          </div>
      </article>
      <article>
        <div>
            <img src="../img/p2.png" alt="modelo de anteojo dos"/>
           </div> 
          <div class="descripcionAnteojos">      
           <h2>Nombre de Anteojo 2</h2>
           <p>Descripcion</p>
          </div>
    </article>
    <article>
        <div>
            <img src="../img/p3.png" alt="modelo de anteojo tres"/>
           </div> 
          <div class="descripcionAnteojos">      
           <h2>Nombre de Anteojo 3</h2>
           <p>Descripcion</p>
          </div>
    </article>
  </section>
   </main>
   <footer>
       <div class="contenedorfooter">
        <h3>Seguinos en nuestras redes</h3>
        <ul class="redes">
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></i></a></li>
            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
            </ul>
            <h3>Modo de pagos - Envios </h3>
            <ul class="formasdepago">
                <li><a href="#"><i class="far fa-credit-card"></i></a></li>
                <li><a href="#"><i class="fas fa-truck"></i></a></li>
            </ul>    
       </div>
   </footer>
</body>
</html>