<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="../../css/login.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
<!--    <link href="../../css/normalize.css" rel="stylesheet"> -->
    
</head>
<body>
    <header>
        <figure>
            <a href="/">
                <img class="logo" src="/design/logofinal.png" alt="logo" />
            </a>
        </figure> 
    </header>

    <main>
        
        <form action="/" method="POST" class="register-form">
            <h2>Ingresá aquí <i class="far fa-hand-point-down"></i></h2>
            <% if(locals.errors && errors.email) { %>
                <h4 style = color:red> <%= errors.email.msg %> </h4>
            <%  } %>
            <% if(locals.errors && errors.password) { %>
                <h4 style = color:red> <%= errors.password.msg %> </h4>
            <%  } %>
           <!-- <fieldset class="register-field">
                <label for="google">INGRESA CON TU CUENTA GMAIL</label>
                <input type="text" name="google" id="google" placeholder="Ingresá con GOOGLE">
            </fieldset> -->

            <fieldset class="register-field">
                <label for="email">CORREO ELECTRONICO</label>
                <input type="email" name="email" id="email" placeholder="Ingrese su correo electrónico">
            </fieldset> 

            <fieldset class="register-field">
                <label for="password">CONTRASEÑA</label>
                <input type="password" name="password" id="password" placeholder="Ingresá tu contraseña">                  
            </fieldset>

            
            <fieldset class="register-field-check">
                <label class="register-field-check" for="remember"><input type="checkbox" name="remember" id="remember">
                    <span>Recordar el usuario</span>
                </label>                
            </fieldset>  
           
            <h5>¿Olvidaste tu contraseña?
                <a href="/">Ingresá aqui</a> 
            </h5>
            <fieldset class="register-field">
               <button type="submit" id="btn-enviar">Enviar</button>
               <p class="register-field input" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
			
            </fieldset>

            <h4>¿Todavía no estas registrado?
                <a href="/register">Creá tu cuenta</a> 
            </h4>
     
        </form>   
            
    </main>


    <!-- Footer -->
   <%- include('./includes/footer')%>  
   <script src="../../js/validations.js" type="text/JavaScript"></script>
</body>
</html>