<!DOCTYPE html>
<html lang="en">
    
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/css/home.css">


    <title>Carro de Compras</title>

</head>

<body>
    <header>
        <div class="header-top">
          <img src="/design/logofinal.png" alt="logo"/>
        </div>
        <div class="logo">
          <img src="/design/logotipo.png" alt="logotipo"/>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="./product">Productos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            <ul>
                <li><a href="./login"><i class="fas fa-glasses"></i></a></li>
                <li><a href="./register"><i class="far fa-user"></i></a></li>
                <li><a href="./productCart"><i class="fas fa-shopping-cart"></i></a></li>
         </ul>
        </nav>
        <!-- menu ellipsis-->
        <div class="menu-ellipsis-v">
         <i class="fas fa-ellipsis-v"></i>
        </div>
    </header> 
    <main>
        <section class="inventario">
            <div class="item1">
                <div class="contimg">
                    <img class="cartimg" src="/img/levelGod.jpg">
                </div>
                <div class="continfo">

                </div>
            </div>
            <div class="items2">
                <div class="contimg">
                    <img class="cartimg" src="/img/scape.jpg">
                </div>
                <div class="continfo">

                </div>
            </div>
            <div class="item3">
                <div class="contimg">
                    <img class="cartimg" src="/img/marmolado.jpg">
                </div>
                <div class="continfo">

                </div>
            </div>
        </section>
        <section class="cart">

        </section>
    </main>
    <footer>
        <div class="contenedorfooter">
         <h3>Seguinos en nuestras redes</h3>
         <ul class="redes">
             <li><a href="#"><i class="fab fa-twitter"></i></a></li>
             <li><a href="#"><i class="fab fa-instagram"></i></i></a></li>
             <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
             </ul>
             <h3>Modo de pagos - Envios </h3>
             <ul class="formasdepago">
                 <li><a href="#"><i class="far fa-credit-card"></i></a></li>
                 <li><a href="#"><i class="fas fa-truck"></i></a></li>
             </ul>    
        </div>
    </footer>
</body>

</html>