<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('./includes/head') %>

<body>
    <!-- Header -->
    <%- include('./includes/header') %> 

    <main>
        <div class="titulocarrito">Carrito de compras</div>
            <section class="inventario">
                <div class="item1">
                    <div class="contimg">
                        <img class="cartimg" src="/img/levelGod.jpg">
                    </div>
                    <div class="continfo">
                        <a><strong>Anteojos "Level God"</strong></a>
                        <a><strong>$1500</strong></a>
                    </div>
                    <div class="conticon">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="item2">
                    <div class="contimg">
                        <img class="cartimg" src="/img/scape.jpg">
                    </div>
                    <div class="continfo">
                        <a><strong>Anteojos "Scape"</strong></a>
                        <a><strong>$1600</strong></a>
                    </div>
                    <div class="conticon">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="item3">
                    <div class="contimg">
                        <img class="cartimg" src="/img/marmolado.jpg">
                    </div>
                    <div class="continfo">
                        <a><strong>Anteojos "Marmolado"</strong></a>
                        <a><strong>$1200</strong></a>
                    </div>
                    <div class="conticon">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </section>
            <section class="cart">
                <a><strong>Subtotal:</strong> $4.300</a>
                <a><strong>Costo de Envio:</strong> $600</a>
                <a><strong>TOTAL:</strong> $4.900 </a>
            </section>
            <section class="checkout">
                <button class="custom-btn btn-10">Elegir mas productos</button>
                <button class="custom-btn btn-10">Finalizar compra</button>
            </section>
    </main>
    <!-- Footer -->
   <%- include('./includes/footer')%>   
</body>

</html>