<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('./includes/head') %>

<body>
    <!-- Header -->
    <%- include('./includes/header') %>   
    <main>
        <section class="producto">
            <article class="productIMG">
                <img class="imgsup" src="/img/levelGod.jpg" alt="anteojopapu.jpg">
                <div class="perspectivas">
                    <div>Img1</div>
                    <div>Img2</div>
                    <div>Img3</div>
                </div> 
            </article>
            <article class="detalleproducto">
                <div class="datos">
                    <h3>Anteojos "Level God"</h3>
                    <p class="monto">Precio: $10.000</p>
                    <h5>Materiales: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget scelerisque mi. Suspendisse aliquet tellus odio. Nulla tincidunt justo nec posuere fringilla. Mauris quis tortor lobortis, egestas elit eu, aliquam libero. Quisque consequat dui justo, eget suscipit metus sodales quis.</h5>
                </div>
                <div class="cart">
                    Cantidad: &nbsp;
                    <input type="number" placeholder="1" maxlength="3">
                    <button class="btn-add-cart"><span class="fa fa-shopping-cart"></span>&nbsp; </button>
                </div>
            </article>
        </section>
        <section class="OtrosProd">

        </section>



        
    </main>
    <!-- Footer -->
   <%- include('./includes/footer')%>   
</body>

</html>