<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('./includes/head') %>

<body>
    <!-- Header -->
    <%- include('./includes/header') %>   
    <main>
        <section class="producto">
            <article class="productIMG">
                <a href="/product/edit/<%= listToShow.id %> "><img class="imgsup" src="/img/levelGod.jpg" alt="anteojopapu.jpg"></a>
                <div class="perspectivas">
                    <div>Img1</div>
                    <div>Img2</div>
                    <div>Img3</div>
                </div> 
            </article>
            <article class="detalleproducto">
                <div class="datos">
                    <h3></h3>
                    <p class="monto">Precio: $</p>
                    <h5>Materiales:</h5>
                </div>
                <div class="cart">
                    Cantidad: &nbsp;
                    <input type="number" placeholder="1" maxlength="3">
                    <button class="btn-add-cart"><span class="fa fa-shopping-cart"></span>&nbsp; </button>
                </div>
            </article>
        </section>
        <section class="OtrosProd">

        </section>



        
    </main>
    <!-- Footer -->
   <%- include('./includes/footer')%>   
</body>

</html>