<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('./includes/head') %>
    <link href="/css/productCart.css" rel="stylesheet">
<body>
    <!-- Header -->
    <%- include('./includes/header') %> 

    <main>
        <div class="titulocarrito">Carrito de compras</div>
            <div class="inventario">
                <div class="items">
                    <div class="contimg">
                        <img class="cartimg" src="/img/levelGod.jpg">
                    </div>
                    <div class="continfo">
                        <h5>Anteojos "Level God"</h5>
                        <h5>$1500</h5>
                    </div>
                    <div class="conticon">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="items">
                    <div class="contimg">
                        <img class="cartimg" src="/img/scape.jpg">
                    </div>
                    <div class="continfo">
                        <h5>Anteojos "Product 2"</h5>
                        <h5>$1200</h5>
                    </div>
                    <div class="conticon">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="items">
                    <div class="contimg">
                        <img class="cartimg" src="/img/marmolado.jpg">
                    </div>
                    <div class="continfo">
                        <h5>Anteojos "Product 3"</h5>
                        <h5>$1200</h5>
                    </div>
                    <div class="conticon">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <section class="cart">
                <h5 class="textoProducto">TOTAL: $4.900 </h5>
            </section>
            <section class="checkout">
                <button class="custom-btn btn-10">Elegir mas productos</button>
                <button class="custom-btn btn-10">Finalizar compra</button>
            </section>
    </main>
    <!-- Footer -->
   <%- include('./includes/footer')%>   
</body>

</html>