<!DOCTYPE html>
<html lang="en">
 <!-- Head -->
 <%- include('./includes/head') %> 

<body>
    <!-- Header -->
    <%- include('./includes/header') %> 

 
    <main>
        <section class="varitems">
            <h6>Productos</h6>
            <article class="levelgod">
            <a href="/productDetail"><img class="vista" src="/img/levelGod.jpg" alt="anteojopapu.jpg"></a>
            </article>
            <article class="quebracho">
                <img class="vista" src="/img/quebracho.jpg" alt="anteojopapu.jpg">
            </article>
            <article class="nogal">
                <img class="vista" src="/img/nogal.jpg" alt="anteojopapu.jpg">
            </article>
            <article class="marmolado">
                <img class="vista" src="/img/marmolado.jpg" alt="anteojopapu.jpg">
            </article>
            <article class="scape">
                <img class="vista" src="/img/scape.jpg" alt="anteojopapu.jpg">
            </article>
            <article class="distress">
                <img class="vista" src="/img/distress.jpg" alt="anteojopapu.jpg">
            </article>

        </section>
    </main>
    <footer>
        <div class="contenedorfooter">
         <h3>Seguinos en nuestras redes</h3>
         <ul class="redes">
             <li><a href="#"><i class="fab fa-twitter"></i></a></li>
             <li><a href="#"><i class="fab fa-instagram"></i></i></a></li>
             <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
             </ul>
             <h3>Modo de pagos - Envios </h3>
             <ul class="formasdepago">
                 <li><a href="#"><i class="far fa-credit-card"></i></a></li>
                 <li><a href="#"><i class="fas fa-truck"></i></a></li>
             </ul>    
        </div>
    </footer>
</body>

</html>