<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include('./includes/head') %>
</head>
<body>
    <!-- Header -->
    <%- include('./includes/header') %>
    <main>
    <form action="/" method="POST" class="register-form">
        <h2>Edición de productos</h2>
        <fieldset>
            <img img class="vista" src="/img/levelGod.jpg" alt="anteojopapu.jpg">
            <label for="image">Hace click en "Examinar" para cambiar la foto a mostrar del producto:</label>
            <input type="file" name="image" id="image" >
        </fieldset>
        <fieldset>
            <label for="name">Nombre del Producto</label>
            <input type="text" name="name" id="name">
        </fieldset>
        <fieldset>
            <label for="brand">Matriz ensambladora</label>
            <select multiple name="Matriz" id="Matriz">
                <option>Nogal</option>
                <option>Quebracho</option>
                <option>50% Carton 50% Yerba Mate</option>
                <option>Roble</option>
            </select>
        </fieldset>
        <fieldset>
            <label for="cristal">Tipo de Cristal</label>
            <select multiple name="Cristal" id="Cristal">
                <option>Tríbido</option>
                <option>Policarbonato</option>
                <option>Trivex</option>
                <option>Plástico CR-39</option>
                <option>Vidrio crown</option>
            </select>
        </fieldset>
        <fieldset>
            <label for="colors">Para agregarle una capa de pintura a la madera</label>
            <select multiple name="colores" id="colores">
                <option>Azul Electrico</option>
                <option>Amarillo Vibrante</option>
                <option>Verde Viviente</option>
                <option>Rojo Naciente</option>
            </select>
        </fieldset>
        <fieldset>
            <button type="submit">Enviar Cambios</button><button type="submit">Cancelar</button>
        </fieldset>
        </form> 
    </main>
    <!-- Footer -->
<%- include('./includes/footer')%>   
</body>
</html>